[submodule "Neural_network_processing/upscaler/MultichannelRealESRGAN"]
	path = Neural_network_processing/upscaler/MultichannelRealESRGAN
	url = https://github.com/StableDraw/Multichannel-Real-ESRGAN
[submodule "Neural_network_processing/upscaler/StableDiffusionx2LatentUpscaler"]
	path = Neural_network_processing/upscaler/StableDiffusionx2LatentUpscaler
	url = https://github.com/StableDraw/StableDiffusionx2LatentUpscaler
[submodule "Neural_network_processing/text_to_image/StableDiffusionXLText2Img"]
	path = Neural_network_processing/text_to_image/StableDiffusionXLText2Img
	url = https://github.com/StableDraw/StableDiffusionXLText2Img
[submodule "StableDiffusionXL"]
	path = StableDiffusionXL
	url = https://github.com/Stability-AI/generative-models
[submodule "Neural_network_processing/upscaler/StableDiffusionx4Upscaler"]
	path = Neural_network_processing/upscaler/StableDiffusionx4Upscaler
	url = https://github.com/StableDraw/StableDiffusionx4Upscaler
[submodule "Neural_network_processing/text_to_image/KandinskyText2Img"]
	path = Neural_network_processing/text_to_image/KandinskyText2Img
	url = https://github.com/StableDraw/KandinskyText2Img
[submodule "Neural_network_processing/text_to_image/StableDiffusionText2Img"]
	path = Neural_network_processing/text_to_image/StableDiffusionText2Img
	url = https://github.com/StableDraw/StableDiffusionText2Img
