[submodule "Neural_network_processing/text_to_image/StableDiffusionText2Img"]
	path = Neural_network_processing/text_to_image/StableDiffusionText2Img
	url = https://github.com/Robolightning/StableDiffusionText2Img
[submodule "Neural_network_processing/text_to_image/KandinskyText2Img"]
	path = Neural_network_processing/text_to_image/KandinskyText2Img
	url = https://github.com/Robolightning/KandinskyText2Img
[submodule "Neural_network_processing/text_to_image/StableDiffusionXLText2Img"]
	path = Neural_network_processing/text_to_image/StableDiffusionXLText2Img
	url = https://github.com/Robolightning/StableDiffusionXLText2Img
[submodule "Neural_network_processing/upscaler"]
	path = Neural_network_processing/upscaler
	url = https://github.com/StableDraw/upscaler
[submodule "VideoN"]
	path = VideoNN
	url = https://github.com/StableDraw/VideoNN
