[submodule "Neural_network_processing/upscaler/MultichannelRealESRGAN"]
	path = Neural_network_processing/upscaler/MultichannelRealESRGAN
	url = https://github.com/Robolightning/Multichannel-Real-ESRGAN
[submodule "Neural_network_processing/upscaler/StableDiffusionx4Upscaler"]
	path = Neural_network_processing/upscaler/StableDiffusionx4Upscaler
	url = https://github.com/Robolightning/StableDiffusionx4Upscaler
[submodule "Neural_network_processing/upscaler/StableDiffusionx2LatentUpscaler"]
	path = Neural_network_processing/upscaler/StableDiffusionx2LatentUpscaler
	url = https://github.com/Robolightning/StableDiffusionx2LatentUpscaler
[submodule "Neural_network_processing/text_to_image/StableDiffusionText2Img"]
	path = Neural_network_processing/text_to_image/StableDiffusionText2Img
	url = https://github.com/Robolightning/StableDiffusionText2Img
[submodule "Neural_network_processing/text_to_image/KandinskyText2Img"]
	path = Neural_network_processing/text_to_image/KandinskyText2Img
	url = https://github.com/Robolightning/KandinskyText2Img
[submodule "Neural_network_processing/text_to_image/StableDiffusionXLText2Img"]
	path = Neural_network_processing/text_to_image/StableDiffusionXLText2Img
	url = https://github.com/Robolightning/StableDiffusionXLText2Img
